<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-5 mx-auto">
                  <div class="shadow-sm card border-secondary">
                      <div class="card-header">
                          <h3 class="mb-0 my-2">{{contentTitle}}</h3>
                      </div>
                      <div class="card-body text-center">
                          <div>
                              <h4>{{contentHeading}}</h4>
                          </div>
                          <div *ngIf="isConfirmEmail">
                              {{contentMessage}} <p class="m-2 text-center"><a [routerLink]="['/login']">Login here</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
